[Unit]
Description=Picks up DAPNET calls from an MMDVM node, and forwards it to a ntfy.sh topic.
After=network.target

[Service]
Type=simple
User=pi-star
WorkingDirectory=/home/pi-star/git/dapnet-ntfygateway
ExecStart=/home/pi-star/git/dapnet-ntfygateway/venv/bin/python /home/pi-star/git/dapnet-ntfygateway/dapnet_ntfygateway.py
StandardOutput=/home/pi-star/logs/dapnet-ntfygateway/stdout.log
StandardError=/home/pi-star/logs/dapnet-ntfygateway/stderr.log
Restart=on-failure
RestartSec=5s

[Install]
WantedBy=multi-user.target
